@media screen and (max-width: 768px) {

    .wrapper {
        padding: 0;
        width: 100%;
    }
    .background {
        height: 100%;
    }

    .links__container {
        display: none;
    }

    .nav {
        position: fixed;
        width: 100vw;
        z-index: 5;
        top:0;
        padding-bottom: 10px;
    }

    .breaking-news {
        margin-top: 75px;
    }

    .menu {
        background-color: #2d2d2d;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        padding-top: 145px;
        align-items: center;
        position: fixed;
        left: -150%;
        transition: left 0.5s;
        z-index: 5;
    }

    .menu__open {
        left: 0;
        transition: left 0.5s;
    }

    .menu__link {
        text-decoration: none;
        font: 16px Roboto;
        color: #fff;
        margin: 20px auto 20px;
        display: block;
        text-align: center;
    }

    .menu__line {
        background-color: #b1b1b1;
        height: 1px;
        width: 100%;
        margin: 0;
    }

    .nav__search {
        display: none;
    }

    .nav__icon{
        background-image: url("../img/iconsmenu.png");
        height: 50px;
        width: 50px;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: auto;
    }

    .logo {
        margin: 20px 39px 27px 39px;
        position: absolute;
    }

    .main {
        justify-content: center;
        display: block;
    }

    .latest-posts {
        display: none;
    }

    .top-news {
        align-items: center;
    }

    .top-news__img1 {
        background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.3) 100%) , url("../img/news1__mobile.png");
        height: 88px;
        width: 320px;
    }

    .top-news__img2 {
        background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.3) 100%) , url("../img/news2__mobile.png");
        height: 88px;
        width: 320px;
    }

    .top-news__img3 {
        background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.3) 100%) , url("../img/news3__mobile.png");
        height: 88px;
        width: 320px;
    }

    .top-news__img4 {
        background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.3) 100%) ,  url("../img/news4__mobile.png");
        height: 88px;
        width: 320px;
    }

    .top-news__img5 {
        background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.3) 100%) , url("../img/news5__mobile.png");
        height: 88px;
        width: 320px;
    }

    .top-news {
        flex-direction: column;
    }

    .top-news__caption {
        font: 14px Roboto;
        margin: 0 auto 9px;
    }

    .news-picture {
        display: none;
    }

    .carousel {
        display: none;
    }

    .popular-posts__container {
        margin: 0;
    }

    .poll__container {
        margin: 0;
    }

    .entertainment {
        display: none;
    }

    .sliderPosts__container {
        margin: 0;
    }

    .tags__container {
        margin: 0;
    }

    .newsletters__container {
        margin: 0;
    }

    .video {
        display: none;
    }

    .login__container {
        margin: 0;
    }

    .archive {
        display: none;
    }

    .likeUs__container {
        margin: 0;
    }

    .recent__container {
        margin: 0;
    }

    .footer__main {
        display: none;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__rights {
        margin: 0;
    }

    .footer__links {
        display: none;
    }

    .footer__hr3 {
        display: none;
    }
}