/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
body {
    margin: 0;

}

.background {
    background-image: url("../img/background.png");
    height: 4059px;
    width: 100%;
}

.wrapper{
    width: 1259px;
    margin: 0 auto 0;
    overflow: hidden;
    padding: 39px 0 43px ;
}

/*-------- header  ---------*/

.nav {
    background-color: #2d2d2d;
    display: flex;
}

.logo {
    background-image: url("../img/logo.png");
    height: 34px;
    width: 94px;
    margin: 20px 39px 27px 39px;
}

.links__container {
    display: flex;
    margin: 0;
}

.link {
    text-decoration: none;
    font: 14px Roboto;
    color: #fff;
    margin: 35px 23px 32px 25px;
}

.link__line {
    background-color: #b1b1b1;
    height: 16px;
    width: 1px;
    margin: 35px 0 32px 0;
}

.nav__search {
    height: 60px;
    width: 460px;
    margin: 7px 0 8px 101px;
}

.breaking-news{
    background-color: #fff;
    display: flex;
}

.breaking-news__img {
    background-image: url("../img/breakingNews.png");
    height: 42px;
    min-width: 171px;
}

.breaking-news__label {
    font: 16px Roboto;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.breaking-news__text {
    font: 12px Roboto;
    font-weight: 700;
    color: #2d2d2d;
    margin: 13px 0 0 0 ;
}

/*--------- top news --------*/

.top-news {
    display: flex;
}

.top-news__img1 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/news1.png");
    height: 353px;
    width: 252px;
    display: flex;
    align-items: flex-end;
}

.top-news__img2 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/news2.jpeg");
    height: 353px;
    width: 252px;
    display: flex;
    align-items: flex-end;
}

.top-news__img3 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/news3.jpg");
    height: 353px;
    width: 252px;
    display: flex;
    align-items: flex-end;
}

.top-news__img4 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/news4.jpg");
    height: 353px;
    width: 252px;
    display: flex;
    align-items: flex-end;
}

.top-news__img5 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/news5.jpg");
    height: 353px;
    width: 252px;
    display: flex;
    align-items: flex-end;
}

.top-news__caption {
    font: 16px Roboto;
    font-weight: 700;
    color: #fff;
    margin: 0 0 18px 23px;
    text-decoration: none;
    display: block;
}

.icon__file {
    background-image: url("../img/icon__file.png");
    height: 11px;
    width: 15px;
}

.top-news__text {
    font: 11px Roboto;
    color: #b3b3b3;
    margin: 0 61px 0 9px;
}

.icon__human {
    background-image: url("../img/icon__human.png");
    height: 11px;
    width: 12px;
}

.icon__date {
    background-image: url("../img/icon__date.png");
    height: 11px;
    width: 12px;
    margin: 0 11px 0 11px;
}

.icon__message {
    background-image: url("../img/icon__message.png");
    height: 11px;
    width: 12px;
}

.top-news__icon-container {
    display: flex;
    align-items: center;
    margin: 0 0 23px 23px;
}

.top-news__more {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #fff;
    margin: 0;
    display: flex;
}

/*-------- Latest Posts -------*/

.latest-posts__container {
    border-top: 2px solid #000;
    box-shadow: 0 0 10px #e3e3e3;
    padding: 20px;
    margin: 0 0 0 40px;
}

.latest-posts__caption {
    font: 16px Roboto;
    color: #2d2d2d;
    font-weight: 700;
    margin: 0;
    padding: 59px 0 12px 43px;
}

.latest-posts__container-top {
    margin: 0 21px 0 0;
    display: flex;
}

/*--- 1 ---*/

.latest-posts__post1 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/latesPost1.jpg");
    height: 240px;
    width: 260px;
    display: flex;
    align-items: flex-end;
    margin: 0 19px 0 0;
}

.latest-posts__rating {
    background-color: #2d2d2d;
    height: 70px;
    width: 70px;
    margin: 0 0 101px 190px;
}

.latest-posts__rating-mark {
    font: 25px Roboto;
    color: #fff;
    text-align: center;
    margin: 10px auto 3px;
}

.latest-posts__rating-text {
    font: 11px Roboto;
    color: #b3b3b3;
    text-align: center;
    margin: 0;
}

.latest-posts__more {
    display: flex;
    flex-direction: column;
}

.latest-posts__text {
    font: 16px Roboto;
    font-weight: 700;
    color: #fff;
    margin: 0 0 18px 20px;
    text-decoration: none;
    display: block;
}

.latest-posts__icon-container {
    display: flex;
    align-items: center;
    margin: 0 0 19px 20px;
}

.latest-posts__title1 {
    font: 11px Roboto;
    color: #b3b3b3;
    margin: 0 96px 0 9px;
}

/*--- 2 ---*/

.latest-posts__post2 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/latesPost2.jpg");
    height: 240px;
    width: 260px;
    display: flex;
    align-items: flex-end;
}

.latest-posts__title2 {
    font: 11px Roboto;
    color: #b3b3b3;
    margin: 0 73px 0 9px;
}

/*--- 3 ---*/

.latest-posts__container-bottom {
    display: flex;
    margin: 20px 21px 0 0;
}

.latest-posts__post3 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/latesPost3.jpg");
    height: 240px;
    width: 260px;
    display: flex;
    align-items: flex-end;
    margin: 0 19px 0 0;
}

.latest-posts__title3 {
    font: 11px Roboto;
    color: #b3b3b3;
    margin: 0 102px 0 9px;
}

/*--- 4 ---*/

.latest-posts__post4 {
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 80%) , url("../img/latesPost4.jpg");
    height: 240px;
    width: 260px;
    display: flex;
    align-items: flex-end;
}

.latest-posts__title4 {
    font: 11px Roboto;
    color: #b3b3b3;
    margin: 0 80px 0 9px;
}

/*------- Popular Posts ------*/

.popular-posts__caption {
    font: 16px Roboto;
    color: #2d2d2d;
    font-weight: 700;
    margin: 0;
    padding: 59px 0 12px 43px;
}

.popular-posts__block-img1 {
    background-image: url("../img/popularPost1.jpg");
    height: 65px;
    width: 65px;
}

.popular-posts__block-img2 {
    background-image: url("../img/popularPost2.jpg");
    height: 65px;
    width: 65px;
}

.popular-posts__block-img3 {
    background-image: url("../img/popularPost3.jpg");
    height: 65px;
    width: 65px;
}

.popular-posts__block-img4 {
    background-image: url("../img/popularPost4.jpg");
    height: 65px;
    width: 65px;
}

.popular-posts__block-text {
    font: 14px Roboto;
    color: #454545;
    margin: 0 0 14px 0;
    text-decoration: none;
    display: block;
}

.popular-posts__block {
    display: flex;
}

.popular-posts__block-container {
    margin: 0 0 0 20px;
}

.popular-posts__icon-container {
    display: flex;
}

.popular-posts__hr {
    background-color: #e3e3e3;
    height: 1px;
    margin: 10px 0 10px 0;
}

.popular-posts__container {
    border-top: 2px solid #000;
    box-shadow: 0 0 10px #e3e3e3;
    padding: 20px;
    margin: 0 0 0 20px;
}

/*-------- join us ------*/

.join-us {
    display: flex;
    margin: 50px 0 0 20px;
}

.join-us__facebook-img {
    background-image: url("../img/facebook.png");
    height: 105px;
    width: 87px;
}

.join-us__twitter-img {
    background-image: url("../img/twitter.jpg");
    height: 105px;
    width: 87px;
    margin: 0 10px ;
}

.join-us__rss-img {
    background-image: url("../img/rss.png");
    height: 105px;
    width: 87px;
}